/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

body.scanner-active {
    --background: transparent;
    --ion-background-color: transparent;
}

ion-menu-button {
    color: var(--ion-color-primary);
}

ion-spinner {
    top: 50%;
    margin: 0 auto;
    width: 100%;
    height: 10%;
    transform: translateY(-50%);
}

.center-content {
    padding: 16px;
    margin: 0 auto;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    position: absolute;
}

.list-header {
    --background: var(--ion-list-header-background-color);
    font-size: large;
    position: sticky;
    top: 0;
    z-index: 22;
}

.label {
    color: var(--ion-color-step-600)!important;
    font-size: small!important;
    margin-right: 8px;
}

.item-value {
    text-align: end;
    color: var(--ion-text-color);
    font-size: medium;
}
